html {
	height: 100%;
	overflow: hidden;
}

#settings-icon-div {
	position: absolute;
	padding: 10px;
	bottom: 0;
	right: 0;
	
	opacity: 0;
	transition: .3s;
}

/*Override MDL button color:*/
#settings-icon-div > .mdl-button--fab.mdl-button--colored {
	background-color: rgb(63,81,181);
}

#settings-icon-div:hover {
	opacity: 1;
}

#settings-layout-wrapper > .mdl-layout__container {
	position: absolute;
	right: 10px;
	bottom: 0;
}

#options-card {
	position: absolute;
	bottom: -1000px;
	right: 10px;
	text-align: left;
	width: 350px;
	
	transition: .3s;
}

#options-card.active {
	bottom: 0;
}

#options-card #close-x {
	color: white;
}

#options-card .mdl-card__title {
	background-color: rgb(63,81,181);
	color: white;
}

#options-card .options-container {
	padding: 5px 0;
	margin: 0;
}

#options-card .options-container:not(:last-of-type) {
	border-bottom: 1px solid #686868;
}

#options-card #BrowseImage {
	display: none;
}

#options-card .options-container .bg-text-input {
	margin: -15px 0 15px 0;
}

/* ------------------------------------------------------------------------------- */

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

#welcome-div {
	text-align: left;
	position: absolute;
}

#welcome-div {
	right: 40px;
	bottom: 100px;
}

/* ------------------------------------------------------------------------------- */
.cleaner-hint.mdl-card {
	text-align: left;
}

.mdl-card a:hover {
	text-decoration: none;
}