html {
	height: 100%;
	overflow: hidden;
}

#settings-icon-div {
	position: absolute;
	bottom: 0;
	right: 0;
	
	width: 125px;
	height: 125px;
	
	opacity: 0;
	transition: .3s;
}

#settings-icon-div #open-settings {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/*Override MDL button color:*/
#settings-icon-div > .mdl-button--fab.mdl-button--colored {
	background-color: rgb(63,81,181);
}

#settings-icon-div:hover {
	opacity: 1;
}

#settings-layout-wrapper > .mdl-layout__container {
	position: absolute;
	right: 10px;
	bottom: 0;
}

#options-card {
	position: absolute;
	bottom: -1000px;
	right: 10px;
	text-align: left;
	width: 350px;
	
	transition: .3s;
}

#options-card.active {
	bottom: -75px;
}

#options-card.active.full {
	bottom: 0;
}

#options-card #close-x {
	color: white;
}

#options-card .mdl-card__title {
	background-color: rgb(63,81,181);
	color: white;
}

#options-card .mdl-card__supporting-text {
	padding: 10px;
}

#options-card .options-container .body {
	margin-left: 10px;
}

#options-card .options-container .body.checkboxes {
	margin-top: 5px;
}

#options-card .options-container .body.background .mdl-textfield {
	width: 85%;
}

#options-card .options-container .header {
	font-size: 115%;
	margin-left: -5px;
}

#options-card.active #https-required-message {
	display: none;
}

#options-card.active.full #https-required-message {
	display: inline;
	padding-left: 5px; 
	color: red;
}

#options-card #image-browse-input {
	display: none;
}

/* ------------------------------------------------------------------------------- */

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

#welcome-div {
	position: absolute;
	right: 10px;
	bottom: 10px;
	
	text-align: left;
}

/* ------------------------------------------------------------------------------- */
.mdl-card a:hover {
	text-decoration: none;
}

.cleaner-hint.mdl-card {
	text-align: left;
}

.cleaner-hint .cleaner-close-button > a {
	float: right;
}